
.IllustContainer {
    -fx-max-width: 240;
    -fx-min-width: 240;
}

.IllustView {
    -fx-max-width: 220;
    -fx-min-width: 220;
    -fx-max-height: 220;
    -fx-min-height: 220;
    -fx-alignment: baseline-center;
}

.IllustTitle {
}

.IllustAuthorLink {

}

.IllustDownload {
}